<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Pagina1</li>
                <li>Pagina2</li>
                <li>Pagina3</li>
                <li>Pagina4</li>
                <li>Pagina5</li>
            </ul>
        </nav>
    </header>
<h1>Sono la view dell'action index del home controller</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius ut quae unde itaque nemo cupiditate dolores ipsa iusto perspiciatis, nostrum placeat sequi quam optio sint aliquid voluptas! Ut, porro quia!</p>
<p>Obcaecati sint quidem ullam eum illum animi, sequi atque praesentium quod cupiditate? Dolor vitae blanditiis quia? Quos architecto atque praesentium distinctio quod ullam in repellendus corporis quam. Reiciendis, vel atque!</p>
<p>Alias sed optio a odit enim, maxime eum expedita praesentium facere suscipit distinctio sint, qui doloribus nam quod molestias. Ea architecto sequi natus aliquam officiis animi soluta. Cumque, iste animi.</p>
<p>Illo possimus error corporis veritatis voluptates repellendus itaque, laboriosam molestiae, iusto dolore, a odio eius dolores! Ducimus incidunt quasi asperiores eum iusto sapiente error, sint modi ratione, enim beatae voluptatem?</p>
<p>Neque est minus pariatur accusamus, consectetur tempore id tempora quae. Aliquam quas impedit sequi ad voluptatum minima nulla facere sapiente, culpa, nobis assumenda totam non doloremque omnis animi id voluptates.</p>

    <footer>
        <p>Contattaci al numero..</p>
    </footer>
</body>
</html>
